/* about.ccs */
.admin {
  margin-left: 3% !important;
  margin-right: 3% !important;
  color: rgb(245, 172, 35);
}
.heading {
  background-color: rgb(245, 172, 35);
  color: white;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}
.descriptionsection {
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.test {
  margin-left: 5px;
  font-weight: 400;
  color: grey;
}
.website1 {
  margin-top: 2%;
  display: flex;
  justify-content: right;
}
.pool {
  font-weight: 400;
}
.Amenities {
  display: flex;
  justify-content: space-between;
}
/* card.css */

.section {
  display: flex;
  height: 60vh;
  box-shadow: 0px 0.5px 10px gray;
  background: white;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 2%;
}
.card1 {
  width: 55%;
  padding-top: 1.5%;
  padding-left: 2%;
}
.card1 .hotelimg1 {
  height: 90%;
  width: 95%;
}
.card2 {
  width: 45%;
  padding-top: 1.5%;
  padding-right: 1%;
}
.mycard {
  display: flex;
  height: 50%;
}
.carddetail1 {
  width: 100%;
}
.hotelimg2 {
  width: 95%;
  height: 95%;
}
.hotelimg3 {
  width: 95%;
  height: 95%;
}
/* detail.css */
.information {
  display: flex;
}
.mysection {
  width: 25%;
  margin-top: 1%;
  margin-left: 1%;
  background: white;
  box-shadow: 0px 0.5px 10px gray;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 2px solid rgb(245, 172, 35);
}
.detail img {
  height: 100%;
  width: 100%;
}
h5 {
  text-align: center;
}
.website {
  display: flex;
  justify-content: right;
}
h6 {
  margin-left: 5px;
}
.city {
  margin-top: 1%;
}
span {
  margin-left: 3px;
  color: grey;
  font-weight: 400;
}
span.email {
  color: rgb(245, 172, 35);
}
.btn {
  color: white;
  background: rgb(245, 172, 35);
  font-weight: bold;
  text-align: right;
  margin-left: 20%;
}
.section2 {
  width: 75%;
  background: white;
  box-shadow: 0px 0.5px 10px gray;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
}
.mysection1 {
  width: 25%;
  margin-left: 1%;
}
.section12 {
  width: 75%;
  background: white;
  box-shadow: 0px 0.5px 10px gray;
  margin-top: -2.5%;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  margin-bottom: 1%;
}
/* favicon.css */
.faviconlist {
  margin-left: 25%;
}
.icon1 {
  color: grey;
}
/* form.css */
.formdetail {
  padding: 1%;
}
input {
  border: 1px solid grey;
}
input:focus {
  box-shadow: 0px 0px 4px rgb(64, 161, 155) !important;
  border: 1px solid grey !important;
}
.asterisk {
  color: red;
}
.submit {
  color: white;
  background: crimson;
  font-weight: bold;
  text-align: right;
  margin-left: 20%;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
/* location.css */
.Location {
  display: flex;
}
.website12 {
  width: 50%;
  display: flex;
}
.para {
  color: grey;
  font-weight: 400;
}
/* navbar.css */
.data {
  background-color: white;
  /* height:4%; */
  box-shadow: 0px 0.5px 5px grey;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.data .rightlink {
  display: flex;
  padding-top: 5px;
  padding-left: 70%;
}
button {
  border: none;
  background: white;
  padding-top: 5px;
}
.img {
  width: 20%;
  height: 80%;
  border-radius: 50%;
  padding-right: 3%;
}
p {
  color: grey;
  font-weight: 400;
  padding-right: 5%;
}
a {
  color: rgb(245, 172, 35);
}
/* profile.css */
.profile {
  display: flex;
  justify-content: space-between;
}
.leftsec {
  margin-top: 8px;
  margin-left: 2px;
}
h4 {
  font-size: 25px;
}
.rightsec {
  margin-top: 8px;
  margin-right: 7%;
}
.slash {
  margin-left: 3px;
  margin-right: 3px;
  color: grey;
}
.rightsec .hotel {
  color: grey;
  font-weight: 500;
}
/* Revenue.css */
.revenuesec {
  box-shadow: 0px 0.5px 10px gray;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.footer {
  margin-top: 2%;
  background: white;
  font-weight: bold;
  padding: 0.8%;
  border-bottom: 1px solid grey;
  box-shadow: 0px 0.5px 10px gray;
}
.foot {
  font-size: 16px !important;
  color: grey;
  font-weight: bold;
}
/* setting.css */
.button-grp {
  display: flex;
  margin-top: 1%;
  padding-left: 1%;
}
.button {
  background-color: rgb(64, 161, 155);
  font-weight: 400;
  padding-bottom: 5px;
  color: white;
  margin-right: 5px;
  font-size: 14px;
  border-radius: 3px;
  padding-top: 7px;
}
.btn1 {
  background: rgb(245, 172, 35);
}
.form {
  box-shadow: 0px 0.5px 10px gray;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
/* sidebar.css */
.sidebar {
  background-color: rgb(54, 54, 54);
  height: 100%;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.sidebar .favicon {
  padding-top: 20%;
}
.img1 {
  border-radius: 50%;
  height: 70%;
  width: 60%;
}
.fav {
  padding-top: 1200px;
}
/* custom styling */
button {
  outline: none !important;
}
button:hover {
  box-shadow: 0px 0.5px 4px gray;
}
a {
  text-decoration: none !important;
}
@media only screen and (min-device-width: 700px) and (max-device-width: 771px) {
  .section12 {
    margin-top: 5px !important;
  }
}
@media only screen and (min-device-width: 772px) and (max-device-width: 830px) {
  .section12 {
    margin-top: -2% !important;
  }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 960px) {
  .btn {
    margin-left: 8% !important;
  }
  .faviconlist {
    margin-left: 8% !important;
  }
  .button {
    font-size: 8.5px !important;
    margin-right: 2px !important;
    padding-bottom: 7px !important;
  }
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1030px) {
  .faviconlist {
    margin-left: 17% !important;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1218px) {
  .button {
    font-size: 10px !important;
  }
}
/* ADMIN CSS  */
.dashboard {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}
.dashhead {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 35px;
  padding-top: 10px;
}
.myadmin {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.adminimg {
  border-radius: 50%;
  height: 60%;
  width: 70%;
  margin-left: 14%;
  margin-bottom: 5px;
}
.admin1 {
  width: 50%;
}
.admin2 {
  width: 50%;
}
.uselink {
  color: green;
  font-style: italic;
  font-weight: bold !important;
}
/* Adminlogin css */
.adminlogin {
  display: grid;
  place-items: center;
  text-align: center;
  background: #102057;
  height: 75vh;
}

.contentform {
  width: 330px;
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  top: 100px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2);

  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.contentform .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
  color: white;
}
.contentform .fielddata {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.fielddata input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #f5f5f5;
  background: #dde1e7;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.fielddata:nth-child(2) {
  margin-top: 20px;
}
.fielddata span {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}
.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}
.forgot-pass a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
/* hover*/
.forgot-pass:hover a {
  text-decoration: underline;
}
.log {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
/* API INTEGRATE CSS */
.h4style {
  color: crimson;
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
.Section-for-api {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.Section-for-api1 {
  width: 8%;
}
.Section-for-api2 {
  width: 92%;
  background-color: rgb(184, 192, 202);
}
.buttonsection {
  background-color: rgb(235, 229, 229);
  text-align: center;
  padding-top: 2%;
}
.apibutton {
  background-color: rgb(235, 229, 229) !important;
  display: flex;
  color: black;
  font-weight: bold;
  outline: none;
  margin-top: 5px;
}
.tablesection {
  padding: 5px !important;
  box-shadow: 0px 0.5px 10px gray;
}
.buttondis {
  color: lightgrey;
  cursor: not-allowed;
}
.deletebutton {
  color: white !important;
  background: crimson;
  text-align: center;
  margin-top: 10px;
}
.btndng {
  padding-bottom: 8px;
  margin-bottom: 5px;
}
